.input-container {
    position: relative;
    display: inline-block;
}

.input-container input {
    padding-left: 30px; /* Adjust padding to make room for the icon */
}

.input-container .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* width: 16px; Adjust the size as needed */
    height: auto;
    pointer-events: none; /* Make sure the icon doesn't block clicks on the input */

}
