@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  /* color Primary */

  --primay-Strong-cyan: hsl(172, 67%, 45%);

  /* color Neutral */
  --neutral-Very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-Dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-Grayish-cyan: hsl(184, 14%, 56%);
  --neutral-Light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --neutral-White: hsl(0, 0%, 100%);

  /* Typography */

  --typography-Font-size: 24px;
}
