@import url("reset.css");
@import url("root.css");
@import url("media.css");
@import url("input-component.css");
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--neutral-Light-grayish-cyan);

  font-family: "Space Mono", monospace;
  font-weight: 700;

  box-sizing: border-box;
}

input[type="text"] {
  width: 100%;
  text-align: right;
  font-size: 1.25rem;
}

#bill, #numberOfPeople {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: var(--neutral-Very-light-grayish-cyan);
  outline: none;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

#bill:hover, #numberOfPeople:hover  {
  border: 2px solid #CE7667;
  padding: calc(0.5rem - 2px); /* Adjust padding to compensate for the border */
}

#customPercent {
  text-align: center;
}

.tip-container {
  background: var(--neutral-White);
  padding: 2rem;

  width: 100%;
  max-width: 920px;
}

.logo_splitter {
  margin: 0 auto;
}

.tip-function-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0.5rem 0;
}

.tip-percentage {
  margin: 2rem 0;
}

.tip-percentage-function {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 0.5rem;
}

.tip-percentage-input {
  width: 100%;
  max-width: 120px;
  padding: 0.5rem;
  cursor: pointer;
}

.tip-computation-container {
  background: var(--neutral-Very-dark-cyan);
  padding: 2rem 2rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.tip-reset {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.25rem;
  background: var(--primay-Strong-cyan);
}

.input-percent {
   background: var(--neutral-Very-dark-cyan);
   color: var(--neutral-White);
   border-radius: 5px;
   outline: none;
   border: none;
   font-size: 1.25rem;
}

.tip-amount_label {
  color: var(--neutral-White);
}
.tip-amount_label-span {
  color: var(--neutral-Grayish-cyan);
}
.tip-amount_value {
  font-size: 2.75rem;
  color: var(--neutral-Light-grayish-cyan);
}

/* number-of-people */

.number-of-people {
  display: flex;
  justify-content: space-between;
}
.error-msg {
  color: #CE7667;
}