@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Space+Mono:wght@700&display=swap");
$font-size: 24px;
$font-family-Roboto: "Roboto", sans-serif;
$font-family-Space-Mono: "Space Mono", monospace;
$font-weight: 700;
